
<main id="loginMain">
  <section id="loginSection">
    <div class="loginDiv">
      <h1 class="loginTitle">Login</h1>
      <form class="loginForm" id="formLogin">
        <label>Correo electrónico</label>
        <input type="email" required id="email" placeholder="email@gmail.com" />
        <label>Contraseña</label>
        <input type="password" required id="password" placeholder="********" />
        <button type="submit" class="loginButton">Login</button>
      </form>
      <a href="/register" style="margin: 20px 0; color: #aaaaaa;">Registrate aqui</a>
    </div>
  </section>
</main>

<script src="/src/public/js/login.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>