
<header id="headerhome">
    <div id="headerMenu">
        <li><a href="/products">Tienda</a></li>
        <li><a href="/profile">Perfil</a></li>
        <li><a id="btnLogout" href="/logout">Logout</a></li>
    </div>
</header>
<section id="perfil">
    <div id="perfilDatos">
        <h1>Perfil</h1>
        <p>Nombre: {{name}}</p>
        <p>Apellido:{{lastName}}</p>
        <p>Edad: {{age}}</p>
        <p>Email: {{email}}</p>
    </div>
</section>

<script src="/src/public/index.js"></script>
<script src="/src/public/js/logout.js"></script>