
<main class="container mt-5">
    <div id="rowProducts" class="row d-flex d-flex justify-content-between"></div>
</main>
<script src="/src/utils/socket.io.js"></script>
<script src="/src/public/js/index.js"></script>