
<main id="registerMain">
    <section id="registerSection">
        <div id="registerDiv">
            <h1 id="registerTitle">Crear usuario</h1>
            <form class="loginForm" id="formRegister">
                <label>Nombre</label>
                <input type="text" required id="firstName" placeholder="Nombre" />
                <label>Apellido</label>
                <input type="text" required id="lastName" placeholder="Apellido" />
                <label>Edad</label>
                <input type="number" required id="age" placeholder="Edad" />
                <label>Correo electrónico</label>
                <input type="email" required id="email" placeholder="email@gmail.com" />
                <label>Contraseña</label>
                <input type="password" required id="password" placeholder="********" />
                <button type="submit" class="loginButtonRegister">Enviar</button>
            </form>
        </div>
    </section>
</main>


<script src="/src/public/js/register.js"></script>