
<div>
    <h1>CHAT</h1>
</div>
<main >
    <ul id="list-chats"></ul>
    <div>
        <input id="chatBox" placeholder="Escribe aqui tu mensaje" />
    </div>
</main>
<script src="/src/utils/socket.io.js"></script>
<script src="/src/public/js/chats.js"></script>