
<div>
    <h1> SALA DE CHAT </h1>
</div>
<main >
    <ul id="list-chats"></ul>
    <div>
        <input id="chatBox" placeholder="Escribe aqui tu mensaje" />
    </div>
</main>
<script src="/socket.io/socket.io.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="js/chats.js"></script>